{
    "plugins": ["@typescript-eslint", "unused-imports"],
    "rules": {
        "no-unused-vars": "off",
        "unused-imports/no-unused-imports-ts": "error",
        "unused-imports/no-unused-vars-ts": "warn"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "parser": "@typescript-eslint/parser"
}